{% extends 'base.html.twig' %}
{% form_theme listsForm _self %}

{% block title %}Multiple Training{% endblock %}

{% block _multiple_list_form_lists_entry_widget %}
    <div class="form-check mb-2">
        <input type="checkbox" id="{{ id }}" name="{{ full_name }}"
               class="form-check-input" value="{{ value }}">
        <label class="form-check-label" for="{{ id }}">{{ label }}</label>
        <a class="badge badge-success ml-3"
           href="{{ path('app_words_list', {'id': id}) }}">{{ form.parent.vars.choices[value].data.words|length }}</a>
        <span class="badge badge-info ml-3">{{ form.parent.vars.choices[value].data.lastAccessDate|date('d.m.Y') }}</span>
    </div>
{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-2">
        <div class="col-auto">
            <div class="card">
                <h5 class="card-header">Умная тренировка</h5>
                <div class="card-body">
                    <h5 class="card-title">Условия:</h5>
                    {{ form_start(listsForm) }}
                    {{ form_row(listsForm.lists) }}
                    {{ form_row(listsForm.countFromList) }}
                    {{ form_row(listsForm.isShowTranslation) }}
                    {{ form_row(listsForm.isRandom) }}
                    <button type="submit" class="btn btn-primary">OK</button>
                    <a href="{{ path('app_lists') }}" class="btn btn-secondary">Отмена</a>
                    {{ form_end(listsForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
