{% extends 'base.html.twig' %}

{% block title %}Word Edit{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-4">
        {{ form_start(editForm) }}
        {{ form_row(editForm.english) }}
        {{ form_row(editForm.russian) }}
        {{ form_row(editForm.list) }}
        <button type="submit" class="btn btn-primary">OK</button>
            <a href="{{ path('app_lists') }}" class="btn btn-secondary">Отмена</a>
        {{ form_end(editForm) }}
    </div>
</div>
{% endblock %}
