{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Word List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Ваши списки слов</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="{{ path('app_word_list_create') }}">Создать список</a>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            {% if wordList is not empty %}
                <ul class="list-group">
                    {% for item in wordList %}
                        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                            <a href="{{ path('app_list_details', {'id': item.id}) }}" class="btn-link">{{ item.name }}</a>
                            <span class="badge badge-success badge-pill ml-3">{{ item.words|length }}</span>
                            <span class="badge badge-info badge-pill ml-3">{{ item.lastAccessDate|date('d.m.Y') }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">Список пуст</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
