{% extends 'base.html.twig' %}

{% block title %}Hello AdminPageController!{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                </tr>
                </thead>
                <tbody>
                {% set num = 1 %}
                {% for user in users %}
                    <tr>
                        <th scope="row" class="align-middle text-left">{{ num }}</th>
                        <td class="align-middle text-left">
                            <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="badge badge-danger badge-pill">X</a>
                        </td>
                        <td class="align-middle text-left">{{ user.email }}<a href="#" class="badge badge-success badge-pill ml-2">✎</a></td>
                        <td class="align-middle text-left">
                            {% for role in user.roles %}
                                <p>{{ role }}</p>
                            {% endfor %}
                        </td>
                        <td class="align-middle text-left">{{ user.firstName }}</td>
                        <td class="align-middle text-left">{{ user.middleName }}</td>
                        <td class="align-middle text-left">{{ user.lastName }}</td>
                    </tr>
                    {% set num = num + 1 %}
                {% else %}
                    <p>Список пуст</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
