<div class="row justify-content-end">
    {% if app.user %}
        <div class="col-auto">
            <div class="dropdown">
                <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.email }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_lists') }}">Списки слов</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('app_admin') }}">Администрирование</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Выход</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not is_granted('ROLE_USER') %}
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Вход</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-info" href="{{ path('app_sign_up') }}">Регистрация</a>
        </div>
    {% endif %}
</div>
{% for message in app.flashes('success') %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}