{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Word List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Ваши списки слов</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <a class="btn btn-outline-primary" href="{{ path('app_list_create') }}">Создать список</a>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            {% if wordLists is not empty %}
                <ul class="list-group">
                    {% for list in wordLists %}
                        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                            <a href="{{ path('app_list_details', {'id': list.id}) }}"
                               class="btn-link">{{ list.name }}</a>
                            <a href="{{ path('app_list_rename', {'id': list.id}) }}" class="badge badge-info ml-3">✎</a>
                            <a class="badge badge-success ml-3"
                               href="{{ path('app_words_list', {'id': list.id}) }}">{{ list.words|length }}</a>
                            <span class="badge badge-info ml-3">{{ list.lastAccessDate|date('d.m.Y') }}</span>
                            <a
                                    href="{{ path('app_list_delete', {'id': list.id}) }}"
                                    class="badge badge-danger ml-3">X</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">Список пуст</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
